:root {
    --background-color: #fdf4d1; /* цвет фона страницы */
    --header-bg-color: #fffbe9; /* цвет фона шапки */
    --header-text-color: #333333; /* цвет текста в шапке */
}

body {
    background-image: url('./assets/fons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    padding: 30%; /* опускаем ниже */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* контейнер для мейн контента */
.container {
    max-width: 800px; /* огран ширины контента */
    width: 100%;
    margin: 0 auto; /* отцентровка */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* фончик */
    border-radius: 10px; /* уголки */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* тень */
}

/* стили для текста */
.description {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.goal-container {
    margin-top: 20px;
}

.goal-text {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* лого */
.logom {
    max-width: 100%; /* лого адаптируется под мейн контейнер */
    height: auto;
    margin-bottom: 20px;
}

/* медиа-запросы для мобилок (wd < 768px) */
@media (max-width: 767px) {
    body {
        padding: 5%; /* уменьшаем отступы */
    }

    .container {
        padding: 15px; /* уменьшаем отступы внутри контейнера */
    }

    .description {
        font-size: 1rem; /* уменьшаем размер шрифта */
    }

    .goal-text {
        font-size: 0.9rem;
    }

    .logom {
        max-width: 80%; /* уменьшаем размер лого */
    }
}
