.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Rubik, sans-serif;
    min-height: 100vh; 
    box-sizing: border-box; 
    padding-top: 10px; 
}

.header-info {
    text-align: center;
    margin-bottom: 20px;
    width: 100%; 

}



.header-info h1 {
    font-size: 2em; 
    font-weight: bold; 
    margin: 0;
    color: #000000; 
}

.balance-info {
    display: flex;
    align-items: center; 
    justify-content: center;
    font-size: 1.2em; 
    margin-top: 10px;
    flex-wrap: wrap; 
}

.coin-icon {
    width: 1em; 
    height: 1em; 
    margin-right: 10px;
    
}

.quiz-counter {
    margin-left: 20px;
    font-size: 0.8em;
    color: #000000;
}

.purchase-options {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap; 
    
}

.purchase-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #cccccc;
    border-radius: 10px;
    width: 90%; 
    max-width: 200px; 
    text-align: center;
    margin: 10px; 
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.icon-circle {
    width: 50px;
    height: 50px;
    background-color: #8a2be2; 
    border-radius: 50%;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.item-description {
    margin: 10px 0;
    height: 60px; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9em; 
}

.purchase-button {
    background-color: #8a2be2; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 1em; 
    font-weight: bold; 
}

.purchase-button:hover {
    background-color: #7b1fa2; 
}


@media (max-width: 768px) {
    .shop-container {
        padding-top: 100px; 
    }

    .header-info h1 {
        font-size: 1.5em; 
    }

    .balance-info {
        font-size: 1em; 
    }

    .purchase-item {
        width: 100%; 
        max-width: none; 
    }

    .item-description {
        font-size: 0.8em; 
    }
}

@media (min-width: 769px)and (max-width: 1024px) {
    
    
    .shop-container {
        margin-top: 30%;; 
    }

    .header-info h1 {
        font-size: 1.5em; 
    }

    .balance-info {
        font-size: 1em; 
    }

    .purchase-item {
        width: 100%; 
        max-width: none; 
    }

    .item-description {
        font-size: 0.8em; 
    }

    .message-box {
        margin-top: 20px;
        padding: 12px 20px;
        border-radius: 10px;
        font-weight: bold;
        text-align: center;
        position: relative;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }
    
    .message-box.success {
        background-color: #d4edda;
        color: #155724;
    }
    
    .message-box.error {
        background-color: #f8d7da;
        color: #721c24;
    }
    
    .close-btn {
        position: absolute;
        top: 5px;
        right: 12px;
        cursor: pointer;
        font-size: 18px;
        font-weight: bold;
        color: inherit;
    }
    
}