
.container_all{
    margin-top: 20%;
    align-content:space-between;
  justify-content: space-between;
  
}
/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (min-width: 1025px) {
    .container_all{
    
        margin-top: 0.1%;
        align-content:space-between;
      justify-content: space-between;
      
    }
}
@media (max-width: 767px) {
    .container_all{
    
        margin-top:40%;
        align-content:space-between;
      justify-content: space-between;
      
    }
}
.container_all .head{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 2%;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease;
}
.container_all .head:hover{
    color: #0b0b0b;
    transform:scale(1.02);
}

.container_all .head .quez-counter{
  color: #000000;
  margin-left: 0;
}

.container_all .container_first{
    display: flex;
    align-content:center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    padding: 15px;
    margin:auto auto;
    text-decoration:none;
    color: #000000;
}
.container_all .container_first:hover {
  transform: scale(1.02);
}
.container_all .container_first .item{
    
    width: 100px;
    height: 100px;
    border-radius: 99.99%;
    background: #5a47b3;
    padding: 10px;
    text-decoration:none;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.container_all .container_first .item:hover {
  transform: scale(1.02);
}
.container_all .container_first img{
    margin-top: 3px;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-decoration:none;
    color: #000000;
    
}
.container_all .container_first p{
  margin-top: 10%;
  
  text-decoration:none;
  color: #000000;
}


.container_all .container_second{
    display: flex;
    align-content:center;
    justify-content: center;
    text-align: center;
    gap:28%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding: 15px;
    font-size: 14px;
    text-decoration:none;
    color: #000000;

}
.container_all .container_second .item{
    width: 100px;
    height: 100px;
    border-radius: 99.99%;
    background: #5a47b3;
    padding: 10px;
    text-decoration:none;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.container_all .container_second .item:hover {
  transform: scale(1.02);
}
.container_all .container_second img{
    width: 80px;
    height: 78px;
    text-decoration:none;
    margin-top: 3px;
}
.container_all .container_second p{
  margin-top: 5%;
  text-decoration:none;
  color: #000000;
}

.container_all .container_last{
    display: flex;
    align-content:center;
  justify-content: center;
    text-align: center;
    font-size: 14px;
    margin:auto auto;
    padding: 15px;
    text-decoration:none;
    color: #000000;

}
.container_all .container_last .item{
    width: 100px;
    height: 100px;
    border-radius: 99.99%;
    background: #5a47b3;
    padding: 10px;
    text-align: center;
    text-decoration:none;
    color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}
.container_all .container_last .item:hover {
  transform: scale(1.02);
}
.container_all .container_last img{
    width: 75px;
    height: 78px;
    text-decoration:none;
    margin-top: 3px;
}
.container_all .container_last p{
  margin-top: 5%;
  text-decoration:none;
  color: #000000;
}


.popupwinn {
  position:fixed;
  margin:auto;
  margin-left: 80%;
  animation: fadeIn 0.5s ease-in-out;
}

.popupwin-content {
  background-color: #5a47b3; 
  color: #fff; 
  border-radius: 10px;
  padding: 10px;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
}

.popupwin-content p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}

.close-btn:hover {
  color: #ccc;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (max-width: 767px) {
    .popupwin {
      margin-bottom: 5%;
      margin-top: 10%;
      margin-left: 40%;
    }
  
    .popupwin-content {
      width: 200px;
      padding: 10px;
    }
  
    .popupwin-content p {
      font-size: 12px;
    }
  
    .close-btn {
      font-size: 18px;
    }
  }

  @media (min-width: 768px) and (max-width: 1025px) {
    .popupwin {
        margin-bottom: 5%;
        margin-top:20%;
        margin-left: 70%;
    }
  
    .popupwin-content {
      width: 200px;
      padding: 10px;
    }
  
    .popupwin-content p {
      font-size: 12px;
    }
  
    .close-btn {
      font-size: 18px;
    }
  }

  /* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
  @media (min-width: 1026px) {
    .popupwin {
      margin-bottom: 5%;
      margin-top: 1%;
      margin-left: 70%;
    }
  
    .popupwin-content {
      width: 200px;
      padding: 10px;
    }
  
    .popupwin-content p {
      font-size: 12px;
    }
  
    .close-btn {
      font-size: 18px;
    }
  }

  .quiz-circle {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 10px;
    transition: 0.3s;
  }
  
  .green-circle {
    border: 4px solid #4caf50; /* Зеленый цвет */
  }
  
  .gray-circle {
    border: 4px solid #ccc; /* Серый цвет */
  }
  
  .item img {
    width: 70%;
    height: auto;
    border-radius: 50%;
  }
  
  .item.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  