/* Контент страницы */
.container_all{
    
    margin-top: 20%;
    align-content:space-between;
  justify-content: space-between;
  
}
/* Экстрабольшие девайсы (большие десктопы, >= 1200px) 
@media (min-width: 1024px) {
    .container_all{
    
        margin-top: 0.1%;
        align-content:space-between;
      justify-content: space-between;
      
    }
}*/
/* Экстрабольшие девайсы (большие десктопы, >= 1200px) */
@media (max-width: 767px) {
    .container_all{
    
        margin-top: 50%;
        align-content:space-between;
      justify-content: space-between;
      
    }
}
.container_all .head{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-bottom: 2%;
    font-size: 18px;
    font-weight: bold;
    transition: transform 0.2s ease;
}
.container_all .head:hover{
    color: #333333;
    transform:scale(1.02);
}
.container_all .container_first{
    display: flex;
    align-content:center;
  justify-content: center;
    text-align: center;
    font-size: 14px;
    margin:auto auto;
    text-decoration:none;
    color: #000000;
    

}
.container_all .container_first .item{
    
    width: 100px;
    height: 100px;
    border-radius: 99.99%;
    background: #5a47b3;
    padding: 10px;
    text-decoration:none;
    color: #000000;
    
}
.container_all .container_first img{
    margin-top: 3px;
    width: 80px;
    height: 80px;
    text-decoration:none;
    color: #000000;
    
}
.container_all .container_second{
    display: flex;
    align-content:center;
  justify-content: center;
    gap:28%;
    margin-bottom: 5%;
    margin-top: 5%;
    font-size: 14px;
    text-decoration:none;

}
.container_all .container_second .item{
    width: 100px;
    height: 100px;
    border-radius: 99.99%;
    background: #5a47b3;
    padding: 10px;
    text-decoration:none;
}
.container_all .container_second img{
    width: 80px;
    height: 80px;
    text-decoration:none;
    margin-top: 3px;
}

.container_all .container_last{
    display: flex;
    align-content:center;
  justify-content: center;
    text-align: center;
    font-size: 14px;
    margin:auto auto;
    text-decoration:none;

}
.container_all .container_last .item{
    width: 100px;
    height: 100px;
    border-radius: 99.99%;
    background: #5a47b3;
    padding: 10px;
    text-decoration:none;
}
.container_all .container_last img{
    width: 80px;
    height: 80px;
    text-decoration:none;
    margin-top: 3px;
    
}