:root {
    --background-color: #fdf4d1; /* цвет фона страницы */
    --header-bg-color: #fffbe9; /* цвет фона шапки */
    --header-text-color: #333333; /* цвет текста в шапке */
}

body {
    background-image: url('./assets/fons.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin: 0;
    height: 100vh;
    padding: 10%; /* опускаем ниже */
    font-family: Arial, sans-serif;
}

/* контейнер для мейн контента */
.container_main {
    max-width: 800px; /* огран ширины контента */
    width: 100%;
    margin: 0 auto; /* отцентровка */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* фончик */
    border-radius: 10px; /* уголки */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* тень */
}

/* стили для текста */
.description_main {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.goal-container_main {
    margin-top: 20px;
}

.goal-text_main {
    font-size: 1.1rem;
    line-height: 1.5;
}

/* лого */
.logom {
    max-width: 100%; /* лого адаптируется под мейн контейнер */
    margin-top: 10%;
    margin-bottom: 10px;
}

/* медиа-запросы для мобилок (wd < 768px) */
@media (max-width: 767px) {
    body {
        padding: 5%; /* уменьшаем отступы */
    }

    .container_main {
        padding: 15px; /* уменьшаем отступы внутри контейнера */
    }

    .description_main {
        font-size: 1rem; /* уменьшаем размер шрифта */
    }

    .goal-text_main {
        font-size: 0.9rem;
    }

    .logom {
        max-width: 80%; /* уменьшаем размер лого */
        margin-top: 0; /* Убираем отступ сверху для логотипа */
        margin-bottom: 10px; /* Уменьшаем отступ снизу */

    }
}

/* медиа-запросы для ноутбуков (wd от 768px до 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    body {
        padding: 8%; /* увеличиваем отступы */
    }

    .container_main {
        max-width: 90%; /* увеличиваем ширину контейнера */
    }

    .description_main {
        font-size: 1.1rem; /* средний размер шрифта */
    }

    .goal-text_main {
        font-size: 1rem;
    }

    .logom {
        max-width: 70%; /* уменьшаем размер лого */
    }
}

/* медиа-запросы для ПК (wd больше 1024px) */
@media (min-width: 1025px) {
    .container_main {
        padding: 40px; /* увеличиваем отступы */
    }

    .description_main {
        font-size: 1.3rem; /* увеличиваем размер шрифта */
    }

    .goal-text_main {
        font-size: 1.2rem;
    }
}
