/* Footer */

.footer{
    position:fixed; /* Подвал  приклен, надо пофиксить! */
    bottom: 0; 
    left: 0; 
    right: 0; 
    height: 5%; 
    margin-bottom: 1%;

}

.footer__wrapper {
	display: flex;
	flex-direction:column;
	align-items: center;
	row-gap: 27px;
}

.social{
	display: flex;
	column-gap: 30px;
	align-items: center; 
}

.social img{
    width: 40px; 
    height: auto; 
    max-width: 100%; 
    transition: transform 0.3s ease;
}

.social img :hover{
    transform:scale(1.1);
}

.copyright {
	font-size: 16px;
}

.copyright p + p {
	margin-top: 0.5em;
}