body {
    margin: 0;
    padding: 0;
    font-family: Fredoka; 
    background-color: #fdf4d1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

/* Логотип */
.logo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    max-width: 150%;
    height: auto; 
}

/* Уведомление */
.notification {
    font-size: 1.2rem;
    color: #333;
    background-color: #fff;
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification p {
    margin: 0 0 2rem;
    line-height: 1.5;
    word-wrap: break-word;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #B05CFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 10px;
    transition: transform 0.3s ease;
    
}

/* Ссылка на ЛИИ ЮФУ */
.footer-link {
    display: block; 
    font-size: 1rem;
    color: #B05CFF;
    text-decoration: none;
    font-weight: 700;
    margin-top: 2rem;
}

.footer-link:hover {
    text-decoration: underline;
}
