<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дерево Могучих Форм</title>
    <link rel="stylesheet" href="стиль страницы квиза.css">
</head>
<body>
    <!-- Шапка сайта -->
    <header class="site-header">
        <div class="logo">
            <a href="#logo">
                <img src="Logo Black.png" alt="Логотип" class="logo">
            </a>
        </div>
        <nav class="nav-links">
            <a href="#courses">Курсы</a>
            <a href="#skills">Дерево навыков</a>
            <a href="#store">Магазин</a>
        </nav>
        <div class="profile">
            <a href="#profile">
                <img src="profile-icon.png" alt="Иконка профиля">
            </a>
        </div>
    </header>

    <!-- Окно квиза -->
    <div class="quiz-popup">
        <div class="quiz-header">
            <p id="question-number"></p>
        </div>
        <div class="quiz-body">
            <p class="quiz-question-text"> </p>
            <p class="quiz-question-form"></p>
            <input type="text" placeholder="Введите ваш ответ" class="answer-input">
            <button class="submit-button">Сдать бланк с ответом!</button>
        </div>
        <p id="feedback"></p>
        <div class="quiz-footer">
            <button onclick="document.location='#menu'" class="back-to-menu">Вернуться на дерево</button>
        </div>
        
        <script src="script_quiz.js"></script>
    </div>
    
    
</body>
</html>
