<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дерево Могучих Форм</title>
    <link rel="stylesheet" href="styles.css"> <!-- Подключение внешнего CSS -->
</head>
<body>
    <!-- Шапка сайта -->
    <header class="site-header">
        <div class="logo">
            <a href="#logo">
            <img src="logo.png" alt="Логотип" class="logo">
        </a>
        </div>
        <nav class="nav-links">
            <a href="#courses">Курсы</a>
            <a href="#skills">Дерево навыков</a>
            <a href="#store">Магазин</a>
        </nav>
        <div class="profile">
            <a href="#profile">
            <img src="profile-icon.png" alt="Иконка профиля" >
        </a>
        </div>
    </header>
    <!-- Контент страницы -->
    <div class="container_all">
        <div class ="head">
            <p>Могучие Формы</p>
        </div>
        <div class="container_first">
            <div class="item">
                <a href = "#icon_gendr_forms">
                    <img src="icon_gendr_forms.png" alt="ГЕНдерные Формы">
                </a>
                <p>ГЕНдерные<br>Формы</p>
            </div>
        </div>
        <div class="container_second">
            <div class="item">
                <a href = "#reverse_x">
                    <img src="reverse_x.png" alt="Замена НЕизвестного">
                </a>
                <p>Замена<br>НЕизвестного</p>
            </div>
        
            <div class="item">
                <a href = "#many_faces">
                    <img src="many_faces.png" alt="Много Лицые">
                </a>
                <p>МногоЛикие</p>
            </div>
        </div>
        <div class="container_last">
            <div class="item">
                <a href = "#dish">
                    <img src="dish.png" alt="Первые и вторые блюда">
                </a>
                <p>Первые и Вторые<br>блюда</p>
            </div>
        </div>
    </div>
</body>
</html>