<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Дерево навыков</title>
    <link rel="stylesheet" href="style_skills_tree.css"> <!-- Подключение внешнего CSS -->
</head>
<body>
    <!-- Шапка сайта -->
    <header class="site-header">
        <div class="logo">
            <a href="#logo">
            <img src="Logo Black.png" alt="Логотип" class="logo">
        </a>
        </div>
        <nav class="nav-links">
            <a href="#courses">Курсы</a>
            <a href="#skills">Дерево навыков</a>
            <a href="#store">Магазин</a>
        </nav>
        <div class="profile">
            <a href="#profile">
            <img src="profile-icon.png" alt="Иконка профиля" >
        </a>
        </div>
    </header>
    <!-- Контент страницы -->
    <div class="container_all">
        <div class ="head">
            <p>Дерево Навыков</p>
        </div>
        <div class="container_first">
            <div class="item">
                <a href = "#group">
                    <img src="group.png" alt="Могучие Формы">
                </a>
                <p>Могучие<br>Формы</p>
            </div>
        </div>
        <div class="container_second">
            <div class="item">
                <a href = "#people">
                    <img src="people.png" alt="Типы Типочки">
                </a>
                <p>Типы<br>Типочки</p>
            </div>
        
            <div class="item">
                <a href = "#baze">
                    <img src="unlock.png" alt="База">
                </a>
                <p>База</p>
            </div>
        </div>
        <div class="container_last">
            <div class="item">
                <a href = "#bossmusic">
                    <img src="unlock.png" alt="Bossmusic">
                </a>
                <p>Bossmusic</p>
            </div>
        </div>
    </div>
</body>
</html>