<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Письмо выслано</title>
    <link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style-emailverif.css">
</head>
<body>
    <div class="container">
        <header class="logo">
            <img src="logo.png" alt="Логотип Rings of Wisdom" class="logo-image">
        </header>
        <main class="notification">
            <p>Письмо с кодом подтверждения было выслано на ваш электронный адрес.</br> Пожалуйста, проверьте почту.</p></br>
            <button type="submit">Войти</button>
            <a href="https://vk.com/lig_sfedu" class="footer-link">ЛИИ ЮФУ</a>
        </main>
    </div>
</body>
</html>
