/* Основные стили */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF4D8; /* Бежевый фон */
}

/* Шапка */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #FFF4D8;
}
.logo img {
    height: 40px;
}
.profile-icon img {
    height: 40px;
}
nav a {
    text-decoration: none;
    color: black;
    margin-right: 20px;
    font-size: 16px;
}
nav a:last-child {
    margin-right: 0;
}

/* Центр страницы */
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* Высота экрана минус высота шапки */
    text-align: center;
}
.main-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #5A2E99; /* Фиолетовый цвет текста */
}
