/* Основные настройки */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.logo {
    width: 500px; 
    height: auto; 
    max-width: 100%; 
    margin-bottom: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #fdf4d1;
    color: #333;
    margin: 0;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -150px;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 20px;
    font-style: italic;
}

.registration-box {
    background-color: #fff;
    padding: 30px;
    width: 325px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    font-weight: bold;

}