<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rings of Wisdom - Login</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <img src="logo.png" alt="Логотип Rings of Wisdom" class="logo">
        
        <div class="login-box">
            <form>
                <label>Регистрация игрока</label>
                <a href="#" class="enter-account">Войти</a>
                
                <input type="email" placeholder="Email" required>
                <input type="password" placeholder="Пароль" required>
                <input type="nickname" placeholder="Имя пользователя" required>
                
                
                <button type="submit">Создать аккаунт</button>
            </form>
            
            <a href="#" class="liu">ЛИИ ЮФУ</a>
        </div>
    </div>
</body>
</html>
